<div class="container">
  <h1>Trips Dashboard</h1>
</div>

<div class="container">
  <ul class="list-group" id="dashboard">
    <li class="list-group-item"><strong>Average Duration: </strong><%= Trip.average_duration_of_ride %> minute(s)</li>
    <li class="list-group-item"><strong>Longest Ride: </strong><%= Trip.longest_ride %> minutes</li>
    <li class="list-group-item"><strong>Shortest Ride: </strong><%= Trip.shortest_ride %> minute</li>
    <li class="list-group-item"><strong>Station with the most trips: </strong><%= Trip.start_station_with_most_rides %></li>
    <li class="list-group-item"><strong>Station with the fewest trips: </strong><%= Trip.end_station_with_most_rides %></li>
    <li class="list-group-item"><strong>Most Ridden Bike ID: </strong><%= Trip.best_bike %>(<%= Trip.best_bike_count%> Rides)</li>
    <li class="list-group-item"><strong>Least Ridden Bike ID: </strong><%= Trip.worst_bike %>(<%= Trip.worst_bike_count%> Rides)</li>
    <li class="list-group-item"><strong>Subscribers: </strong><%= Trip.sub_type_count[1] %>(<%=Trip.sub_percent%>%) Customers: <%= Trip.sub_type_count[0] %>(<%=Trip.cust_percent%>%)</li>
    <li class="list-group-item"><strong>Date with Most Trips: </strong><%= Trip.top_trips_per_date[0].inspect %>, (trips: <%= Trip.top_trips_per_date[1] %>)</li>
    <li class="list-group-item"><strong>Conditions for date with most trips: </strong><a href="/conditions/<%= Trip.conditions_on_top_date %>">Check it out! </a></li>
    <li class="list-group-item"><strong>Date with Least Trips: </strong><%= Trip.lowest_trips_per_date[0].inspect %>, (trips: <%= Trip.lowest_trips_per_date[1] %>)</li>
    <li class="list-group-item"><strong>Conditions for date with least trips: </strong><a href="/conditions/<%= Trip.conditions_on_worst_date %>">Check it out! </a></li>
  </ul>
</div>

<h4>Bike Trips by Month</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th>YEAR</th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>May</th>
      <th>Jun</th>
      <th>Jul</th>
      <th>Aug</th>
      <th>Sep</th>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2013</td>
    <% (1..12).step(1) do |n|%>
        <td><%= Trip.rides_per_month(n, 2013)%></td>
        <% end %>
      </tr>
      <tr>
        <td>2014</td>
      <% (1..12).step(1) do |n|%>
          <td><%= Trip.rides_per_month(n, 2014)%></td>
          <% end %>
        </tr>
  </tbody>
