<div class="container">
  <h1>Trips Dashboard</h1>
</div>

<div class="container">
  <ul class="list-group" id="dashboard">
    <li class="list-group-item">Average Duration: <%= Trip.average_duration_of_ride %></li>
    <li class="list-group-item">Longest Ride: <%= Trip.longest_ride %></li>
    <li class="list-group-item">Shortest Ride: <%= Trip.shortest_ride %></li>
    <li class="list-group-item">Station with the most trips: <%= Trip.start_station_with_most_rides %></li>
    <li class="list-group-item">Station with the fewest trips: <%= Trip.end_station_with_most_rides %></li>
    <li class="list-group-item">Most Ridden Bike: <%= Trip.best_bike %></li>
    <li class="list-group-item">Least Ridden Bike: <%= Trip.worst_bike %></li>
    <li class="list-group-item">Oldest station: <%= Station.oldest_station %></li>
  </ul>
</div>
