x<div class="containter">
  <h1>Update Trip</h1>
</div>

<div class="container">

<form action="/trips/<%= @trip.id %>" method="POST">

  <div class="form-group">
    <input type="hidden" name="_method" value="PUT"/>
  </div>

  <h4>Edit Starting information</h4>
  <div class="form-group">
    <label for="start_station">Start Station: (Currently <%= Station.find(@trip.station_id).name %>)</label>
    <select class="form-control" id="start_station" name="trip[start_station_name]">
      <% @stations.each do |station| %>
        <option><%= station.name %></option>
      <% end %>
    </select>
  </div>


  <div class="form-group">
    <label>Start Date: (Current Start Date <%= @trip.start_date %>)</label>
    <input type="datetime-local" name="trip[start_date]" class="form control"><br>
    <p><strong>Please enter same or new date!</strong></p><br>
  </div>

  <h4>Edit Ending information</h4>

  <div class="form-group">
    <label for="end_station">End Station: (Currently <%= Station.find(@trip.end_station_id).name %>)</label>
    <select class="form-control" id="end_station" name="trip[end_station_name]">
      <% @stations.each do |station| %>
        <option><%= station.name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>End Date: (Current End Date: <%= @trip.end_date %>)</label>
    <input type="datetime-local" name="trip[end_date]" class="form control" value=<%= @trip.end_date %>><br>
    <p><strong>Please enter same or new date!</strong></p><br>
  </div>

  <h4>Edit Other information</h4>

  <div class="form-group">
    <label>Bike ID: </label>
    <input type="integer" name="trip[bike_id]" class="form control" value=<%= @trip.bike_id %>><br>
  </div>

  <div class="form-group">
    <label>Zip Code: </label>
    <input type="integer" name="trip[zip_code]" class="form control" value=<%= @trip.zip_code %>><br>
  </div>

  <div class="form-group">
    <label for="start_station">Subscription Type:</label>
    <select class="form-control" id="start_station" name="trip[subscription_type]">
      <% @subscription_types.each do |type| %>
        <option><%= type.name %></option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
