<div class="container">
  <h2>Trips</h2>
  <div class="list-group">
    <% @trips.each do |trip| %>
      <a href="/trips/<%= trip.id %>" class="list-group-item">
        <%= trip.start_information %><br>
      <%= trip.end_information %></br></a>
    <% end %>
  </div>
</div>

<div class="container">
  <ul class="pager">

    <% if @previous%>
      <li class="previous"><a href="/trips/page/<%= @previous %>">Previous</a></li>
    <% end %>

    <% if @next %>
      <li class="next"><a href="/trips/page/<%= @next %>">Next</a></li>
    <% end %>
  </ul>
</div>