<h1>Stations Dashboard</h1>

<div>
  <ul>
    <li>Total count: <%= Station.count %></li>
    <li>Average bikes available per station: <%= Station.average_bikes_per_station %></li>
    <li>Most bikes available at a station: <%= Station.max_bike_count %></li>
    <li>Station(s) with most available bikes: <%= Station.station_with_most_bikes %></li>
    <li>Fewest bikes available at a station: <%= Station.min_bike_count %></li>
    <li>Station(s) with fewest available bikes: <%= Station.station_with_fewest_bikes %></li>
    <li>Most recently installed station: <%= Station.newest_station %></li>
    <li>Oldest station: <%= Station.oldest_station %></li>
  </ul>
</div>

<a class="btn btn-warning" href="/stations">
  <i class="glyphicon glyphicon-list"></i>
    View All Stations</a><br>
