<div class = "container">
  <h2><%= @station.name %></h2>
</div>

<div class = "container" >
  <ul class = "list-group">
    <li class = "list-group-item">City: <%= @station.city.name %></li>
    <li class = "list-group-item">Dock Count: <%= @station.dock_count %></li>
    <li class = "list-group-item">Installation Date: <%= @station.installation_date.inspect %></li>
  </ul>
</div>

<class = "container">
  <a class="btn btn-primary" href="/stations">
    <i class="glyphicon glyphicon-circle-arrow-left"></i>
      Return</a><br>

<a class="btn btn-warning" href="/stations/<%= @station.id %>/edit">
  <i class="glyphicon glyphicon-pencil"></i>
    Edit</a><br>

  <form action="/stations/<%= @station.id %>" class="delete-form" method="POST">
    <input name="_method" type="hidden" value="DELETE"/>
    <input class="btn btn-danger" type="submit" value="Delete"/>
  </form>
</div>
